*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);

    --Light-redWork: hsl(15, 100%, 70%);
    --Soft-bluePlay: hsl(195, 74%, 62%);
    --Light-redStudy: hsl(348, 100%, 68%);
    --Lime-greenExercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orangeSelfCare: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-blue: hsl(236, 100%, 87%);
}

body {
    background-color: var(--Very-dark-blue);
    font-family: Rubik, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: var(--Blue);
}

#profile-pic {
    border: 0.25rem solid white;
    border-radius: 9rem;
    width: 5rem;
}

#choices-box {
    background-color: var(--Dark-blue);
}

.container {
    width: 10rem;
}

.text-box {
    background-color: var(--Dark-blue);
}

.ellipsis {
    float: right;
}

#background-work {
    background-color: var(--Light-redWork);
}

#background-play {
    background-color: var(--Soft-bluePlay);
}

#background-study {
    background-color: var(--Light-redStudy);
}

#background-exercise {
    background-color: var(--Lime-greenExercise);
}

#background-social {
    background-color: var(--Violet-social);
}

#background-self-care {
    background-color: var(--Soft-orangeSelfCare);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    transform: translateY(22rem);
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}